header {
  font-size: 2em;
  background-color: indigo;
  color: lightgrey;
}

input {
  width: 60%;
  height: 1.5em;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
  width: 100%;
  margin: auto;
  margin-top: 75px;


  background: 
    url()
    no-repeat
    cover

}

.container {
  width: 500px;
  

}

input {
  height: 2em;
}

.save {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  box-shadow: -5px 5px 5px grey;
  margin-left: 2%;
  font-size: .5em;
}

button:active {
  box-shadow: -2px 2px 2px;
}
